
.button {
  -fx-background-color: #ff8c40;
  -fx-border-color: transparent;
  -fx-border-radius: 16px;
  -fx-border-width: 0 0 4px;
  -fx-text-fill: #FFFFFF;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 20px;
  -fx-padding: 13px 16px;
  -fx-text-transform: uppercase;
}

.button:hover {
  -fx-background-color: #cc7033;

}

.button:disabled {
  -fx-opacity: 1;
  -fx-cursor: default;
  -fx-background-color: #1899D6;
}

.label{
  -fx-font-smoothing-type: lcd;
  -fx-fill: white;
  -fx-font-family: "Bookman Old Style";
  -fx-font-weight: bold;
  -fx-background-position: center;


  -fx-background-image: url(/uielements/button/button1.png);
  -fx-background-size: stretch;
}