.button {
  -fx-background-color: #ff8c40;
  -fx-border-color: transparent;
  -fx-border-radius: 16px;
  -fx-border-width: 0 0 4px;
  -fx-text-fill: #FFFFFF;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 20px;
  -fx-padding: 13px 16px;
  -fx-text-transform: uppercase;
}

.button:hover {
  -fx-background-color: #cc7033;

}

.button:pressed {
  -fx-background-color: #000000;
}

.label{
  -fx-font-smoothing-type: lcd;
  -fx-font-family: "Bookman Old Style";
  -fx-font-weight: bold;
  -fx-background-position: center;
}

#return-button {
  -fx-background-color: #43bee3;
  -fx-border-color: transparent;
  -fx-border-radius: 16px;
  -fx-border-width: 0 0 4px;
  -fx-text-fill: #FFFFFF;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 20px;
  -fx-padding: 13px 16px;
  -fx-text-transform: uppercase;
}

#return-button:hover {
  -fx-background-color: #215f72;

}

#return-button:pressed {
  -fx-background-color: #000000;
}

#headline{
  -fx-font-smoothing-type: lcd;
  -fx-font-family: "Bookman Old Style";
  -fx-font-weight: bold;
  -fx-background-position: center;
}

#headline-background{
  -fx-font-smoothing-type: lcd;
  -fx-font-family: "Bookman Old Style";
  -fx-font-weight: bold;
  -fx-background-position: center;
  -fx-background-image: url(/uielements/button/button1.png);
  -fx-background-size: stretch;
}


#delete-button {
  -fx-background-color: #F266AB;
  -fx-border-color: transparent;
  -fx-border-radius: 16px;
  -fx-border-width: 0 0 4px;
  -fx-text-fill: #FFFFFF;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 20px;
  -fx-padding: 13px 16px;
  -fx-text-transform: uppercase;

}

#delete-button:hover {
  -fx-background-color: #6f5459;

}

#delete-button:pressed {
  -fx-background-color: #000000;
}

#confirm-button {
  -fx-background-color: rgba(120, 255, 0, 0.57);
  -fx-border-color: transparent;
  -fx-border-radius: 16px;
  -fx-border-width: 0 0 4px;
  -fx-text-fill: #000000;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 20px;
  -fx-padding: 13px 16px;
  -fx-text-transform: uppercase;

}

#confirm-button:hover {
  -fx-background-color: #38492a;

}

#confirm-button:pressed {
  -fx-background-color: #000000;
}

#action-button{
  -fx-background-color: #0033ff;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-border-width: 0 0 0;
  -fx-text-fill: #FFFFFF;
  -fx-font-family: "din-round", sans-serif;
  -fx-font-size: 12;
  -fx-font-weight: 700;
  -fx-letter-spacing: 1px;
  -fx-line-spacing: 0px;
  -fx-padding: 0px 0px;
  -fx-text-transform: uppercase;
}